
* {
    margin: 0;
    padding: 0;
}


header{
    
    background-color: black;
    color: white;
    height: 9vh;

}

ul.headerside{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

 li{
    list-style: none;
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    margin: 5px;
    
}
.first-li{
    font-size: x-large;
    flex: 20;
}
main{
    display: flex;
    height: 80vh;

}
#firstdiv{
    flex: 1;
    background-color: rgb(63, 61, 61);
    color: white;
}
section{
    display: flex;
    flex: 6;
    background-color: rgb(235, 230, 230);
}
ul.navigation {
    display: flex;
    flex-direction: column;

}
.navigation li{
    padding: 3px;
}

h3{
    padding: 15px;
    margin-bottom: 10px;
    
}
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   align-content: start;
   padding: 15px;
    
    

}

section div{
    height: 150px;
   width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    flex-wrap: wrap;
    border: 1px rgb(106, 191, 217) solid;
     

       
}


.one {
    display: flex;
    background-color: rgb(106, 191, 217);
    flex-grow: 50;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px;}

    


    
   
    



